<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <style>
        .header {
            background-color: #ffc0cb;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header .user-info {
            display: flex;
            align-items: center;
        }

        .header .user-info span {
            margin-right: 20px;
        }

        .header .user-info a {
            margin-left: 10px;
            text-decoration: none;
            color: #000;
            padding: 5px 10px;
            border: 1px solid #000;
            border-radius: 5px;
        }

        .header .user-info a:hover {
            background-color: #ff69b4;
            color: #fff;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: Arial, sans-serif;
            width: 100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #ffcbd3;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            border: 1px solid #dddddd;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #ffcdd2;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #ffeaed;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #d81b60;
        }

        .styled-table tbody tr:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }
    </style>

</head>
<body th:attr="data-open-modal=${openModal}">
<div class="header">
    <h1>MovieStorage</h1>
    <div class="user-info">
        <span th:text="${username}">Username</span>
        <a th:href="@{/auth/logout}">Logout</a>
        <!--        <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin/panel}">Admin Panel</a>-->
    </div>
</div>
<!--<h1>MovieStorage</h1>-->
<button class="open-modal" data-modal="createMovieModal">Create Movie</button>
<table class="styled-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Creation Date</th>
        <th>Coordinates</th>
        <th>Oscars Count</th>
        <th>Budget</th>
        <th>Total Box Office</th>
        <th>MPAA Rating</th>
        <th>Length</th>
        <th>Golden Palm Count</th>
        <th>Genre</th>
        <th>Director</th>
        <th>Director eye color</th>
        <th>Director hair color</th>
        <th>Director location</th>
        <th>Director passportID</th>
        <th>Director nationality</th>
        <th>Operator</th>
        <th>Operator eye color</th>
        <th>Operator hair color</th>
        <th>Operator location</th>
        <th>Operator passportID</th>
        <th>Operator nationality</th>
        <th>Screenwriter</th>
        <th>Screenwriter eye color</th>
        <th>Screenwriter hair color</th>
        <th>Screenwriter location</th>
        <th>Screenwriter passportID</th>
        <th>Screenwriter nationality</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${moviePage.content}">
        <td th:text="${movie.name}">Name</td>
        <td th:text="${movie.authorID}">Author</td>
        <td th:text="${movie.creationDate}">Creation Date</td>
        <td th:text="${movie.coordinates.x + '; ' + movie.coordinates.y}">Coordinates</td>
        <td th:text="${movie.oscarsCount}">Oscars Count</td>
        <td th:text="${movie.budget}">Budget</td>
        <td th:text="${movie.totalBoxOffice}">Total Box Office</td>
        <td th:text="${movie.mpaaRating}">MPAA Rating</td>
        <td th:text="${movie.length}">Length</td>
        <td th:text="${movie.goldenPalmCount}">Golden Palm Count</td>
        <td th:text="${movie.genre}">Genre</td>
        <td th:text="${movie.director.name}">Director</td>
        <td th:text="${movie.director.eyeColor}">Director eye color</td>
        <td th:text="${movie.director.hairColor}">Director hair color</td>
        <td th:text="${movie.director.location.x + '; ' + movie.director.location.y  + '; ' + movie.director.location.z }">Director location</td>
        <td th:text="${movie.director.passportID}">Director passportID</td>
        <td th:text="${movie.director.nationality}">Director nationality</td>
        <td th:text="${movie.operator.name}">Operator</td>
        <td th:text="${movie.operator.eyeColor}">Operator eye color</td>
        <td th:text="${movie.operator.hairColor}">Operator hair color</td>
        <td th:text="${movie.operator.location.x + '; ' + movie.operator.location.y  + '; ' + movie.operator.location.z }">Operator location</td>
        <td th:text="${movie.operator.passportID}">Operator passportID</td>
        <td th:text="${movie.operator.nationality}">Operator nationality</td>
        <td th:text="${movie.screenwriter.name}">Screenwriter</td>
        <td th:text="${movie.screenwriter.eyeColor}">Screenwriter eye color</td>
        <td th:text="${movie.screenwriter.hairColor}">Screenwriter hair color</td>
        <td th:text="${movie.screenwriter.location.x + '; ' + movie.screenwriter.location.y  + '; ' + movie.screenwriter.location.z }">Screenwriter location</td>
        <td th:text="${movie.screenwriter.passportID}">Screenwriter passportID</td>
        <td th:text="${movie.screenwriter.nationality}">Screenwriter nationality</td>
        <td>
            <button th:if="${movie.authorID == currentUserId || userRole == 'ROLE_ADMIN'}"
                    th:attr="data-id=${movie.movieId}"
                    class="edit-movie-button">Edit</button>
            <button th:if="${movie.authorID == currentUserId || userRole == 'ROLE_ADMIN'}"
                    th:attr="data-id=${movie.movieId}"
                    class="delete-movie-button">Delete</button>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:if="${moviePage.hasPrevious()}" th:href="@{/home(page=${moviePage.number - 1}, size=${moviePage.size})}">Previous</a>
    <span>Page <span th:text="${moviePage.number + 1}">1</span> of <span th:text="${moviePage.totalPages}">1</span></span>
    <a th:if="${moviePage.hasNext()}" th:href="@{/home(page=${moviePage.number + 1}, size=${moviePage.size})}">Next</a>
</div>

<div id="createMovieModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create a New Movie</h2>
        <form th:action="@{/movie/save}" method="post" th:object="${movie}">
            <input type="hidden" th:field="*{movieId}" />
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required/><br/>

            <label for="coordinates">Coordinates:</label>
            <select id="coordinates" th:field="*{coordinates.id}">
                <option th:each="coordinate : ${coordinatesList}"
                        th:value="${coordinate.id}"
                        th:text="${coordinate.x + ', ' + coordinate.y}">Coordinates</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createCoordinatesModal">Create Coordinates</button><br/>

            <label for="oscarsCount">Oscars Count:</label>
            <input type="number" id="oscarsCount" th:field="*{oscarsCount}" required/><br/>

            <label for="budget">Budget:</label>
            <input type="number" id="budget" th:field="*{budget}" step="0.01" required/><br/>

            <label for="totalBoxOffice">Total Box Office:</label>
            <input type="number" id="totalBoxOffice" th:field="*{totalBoxOffice}" step="0.01" required/><br/>

            <label for="mpaaRating">MPAA Rating:</label>
            <select id="mpaaRating" th:field="*{mpaaRating}">
                <option th:each="rating : ${mpaaRatings}" th:value="${rating}" th:text="${rating}">Rating</option>
            </select><br/>

            <label for="director">Director:</label>
            <select id="director" th:field="*{director.id}">
                <option th:each="person : ${personsList}" th:value="${person.id}" th:text="${person.name}">Person</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createPersonModal">Create Person</button><br/>

            <label for="screenwriter">Screenwriter:</label>
            <select id="screenwriter" th:field="*{screenwriter.id}">
                <option th:each="person : ${personsList}" th:value="${person.id}" th:text="${person.name}">Person</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createPersonModal">Create Person</button><br/>

            <label for="operator">Operator:</label>
            <select id="operator" th:field="*{operator.id}" required>
                <option th:each="person : ${personsList}" th:value="${person.id}" th:text="${person.name}">Person</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createPersonModal">Create Person</button><br/>

            <label for="length">Length:</label>
            <input type="number" id="length" th:field="*{length}" step="1"/><br/>

            <label for="goldenPalmCount">Golden Palm Count:</label>
            <input type="number" id="goldenPalmCount" th:field="*{goldenPalmCount}" step="1"/><br/>

            <label for="genre">Genre:</label>
            <select id="genre" th:field="*{genre}">
                <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}">Genre</option>
            </select><br/>

            <button type="submit">Save</button>
        </form>
    </div>
</div>


<div id="createPersonModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create a New Person</h2>
        <form th:action="@{/person/save}" method="post" th:object="${person}">
            <input type="hidden" name="parentModal" value="createMovieModal"/>
            <label for="personname">Name:</label>
            <input type="text" id="personname" th:field="*{name}" required/><br/>

            <label for="location">Location:</label>
            <select id="location" th:field="*{location.id}">
                <option th:each="location : ${locationsList}"
                        th:value="${location.id}"
                        th:text="${location.x + ', ' + location.y + ', ' + location.z}">Coordinates</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createLocationModal">Create Location</button><br/>


            <label for="passportID">passportID:</label>
            <input type="number" id="passportID" th:field="*{passportID}" step="0.01" required/><br/>


            <label for="eyeColor">eye color:</label>
            <select id="eyeColor" th:field="*{eyeColor}">
                <option th:each="color : ${colors}" th:value="${color}" th:text="${color}">Color</option>
            </select><br/>

            <label for="hairColor">hair color:</label>
            <select id="hairColor" th:field="*{hairColor}">
                <option th:each="color : ${colors}" th:value="${color}" th:text="${color}">Color</option>
            </select><br/>

            <label for="nationality">Genre:</label>
            <select id="nationality" th:field="*{nationality}">
                <option th:each="nationality : ${nationalities}" th:value="${nationality}" th:text="${nationality}">Nationality</option>
            </select><br/>

            <button type="submit">Save</button>
        </form>
    </div>
</div>

<div id="createLocationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create a New Location</h2>
        <form th:action="@{/location/save}" method="post" th:object="${location}">

            <label for="x">x:</label>
            <input type="number" id="x" th:field="*{x}" step="0.01" required/><br/>

            <label for="y">y:</label>
            <input type="number" id="y" th:field="*{y}" step="0.01" required/><br/>

            <label for="z">z:</label>
            <input type="number" id="z" th:field="*{z}" step="0.01" required/><br/>

            <button type="submit" id="savePersonBtn">Save</button>
        </form>
    </div>
</div>

<div id="createCoordinatesModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create a New Coordinates</h2>
        <form th:action="@{/coordinates/save}" method="post" th:object="${coordinates}">

            <label for="x">x:</label>
            <input type="number" id="coord_x" th:field="*{x}" step="0.01" required/><br/>

            <label for="y">y:</label>
            <input type="number" id="coord_y" th:field="*{y}" step="0.01" required/><br/>

            <button type="submit">Save</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".open-modal").forEach(button => {
            button.addEventListener("click", (event) => {
                const modalId = button.getAttribute("data-modal");
                openModal(modalId);
            });
        });

        function openModal(modalId) {
            const modal = document.getElementById(modalId);
            if (!modal) return;
            modal.style.display = "block";

            const closeBtn = modal.querySelector(".close");
            if (closeBtn) {
                closeBtn.onclick = function () {
                    modal.style.display = "none";
                };
            }

            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            };
        }

        // Movie
        const movieForm = document.querySelector("#createMovieModal form");
        if (movieForm) {
            movieForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const formData = new FormData(movieForm);

                fetch(movieForm.getAttribute("action"), {
                    method: "POST",
                    body: formData,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            // alert("Movie saved successfully!");
                            document.getElementById("createMovieModal").style.display = "none";
                        } else {
                            alert(data.message || "Failed to save movie.");
                        }
                    })
                    .catch(error => {
                        console.error("Error saving movie:", error);
                        alert("An error occurred while saving the movie.");
                    });
            });
        }

        document.querySelectorAll(".edit-movie-button").forEach(button => {
            button.addEventListener("click", function () {
                const movieId = this.getAttribute("data-id");
                fetch(`/movie/${movieId}`)
                    .then(response => response.json())
                    .then(movie => {
                        if (movie) {
                            const modal = document.getElementById("createMovieModal");
                            modal.style.display = "block";
                            modal.style.display = "block";
                            const closeBtn = modal.querySelector(".close");
                            if (closeBtn) {
                                closeBtn.onclick = function () {
                                    modal.style.display = "none";
                                };
                            }

                            window.onclick = function (event) {
                                if (event.target === modal) {
                                    modal.style.display = "none";
                                }
                            };
                            document.querySelector("#createMovieModal form").setAttribute("action", "/movie/update");


                            document.querySelector("#movieId").value = movie.movieId;
                            document.querySelector("#name").value = movie.name;
                            document.querySelector("#coordinates").value = movie.coordinates.id;
                            document.querySelector("#oscarsCount").value = movie.oscarsCount;
                            document.querySelector("#budget").value = movie.budget;
                            document.querySelector("#totalBoxOffice").value = movie.totalBoxOffice;
                            document.querySelector("#mpaaRating").value = movie.mpaaRating;
                            document.querySelector("#director").value = movie.director.id;
                            document.querySelector("#screenwriter").value = movie.screenwriter.id;
                            document.querySelector("#operator").value = movie.operator.id;
                            document.querySelector("#length").value = movie.length;
                            document.querySelector("#goldenPalmCount").value = movie.goldenPalmCount;
                            document.querySelector("#genre").value = movie.genre;
                        }
                    })
                    .catch(error => console.error("Error fetching movie:", error));
            });
        });

        document.querySelectorAll(".delete-movie-button").forEach(button => {
            button.addEventListener("click", function () {
                const movieId = this.getAttribute("data-id");
                if (confirm("Are you sure you want to delete this movie?")) {
                    fetch(`/movie/${movieId}`, { method: "DELETE" })
                        .then(response => {
                            if (response.ok) {
                                alert("Movie deleted successfully");
                                location.reload();
                            } else {
                                alert("Failed to delete movie");
                            }
                        })
                        .catch(error => console.error("Error deleting movie:", error));
                }
            });
        });

        // Person
        const personForm = document.querySelector("#createPersonModal form");
        if (personForm) {
            personForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const formData = new FormData(personForm);

                fetch(personForm.getAttribute("action"), {
                    method: "POST",
                    body: formData,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            // alert("Person saved successfully!");
                            document.getElementById("createPersonModal").style.display = "none";
                            openModal("createMovieModal");
                            updatePersonsList(data.updatedPersonsList);
                        } else {
                            alert(data.message || "Failed to save person.");
                        }
                    })
                    .catch(error => {
                        console.error("Error saving person:", error);
                        alert("An error occurred while saving the person.");
                    });
            });

            function updatePersonsList(persons) {
                const selectors = ["#director", "#screenwriter", "#operator"];

                selectors.forEach(selector => {
                    const selectElement = document.querySelector(selector);
                    if (selectElement) {
                        selectElement.innerHTML = persons
                            .map(person => `<option value="${person.id}">${person.name}</option>`)
                            .join("");
                    }
                });
            }
        }

        // Coordinates
        const coordinatesForm = document.querySelector("#createCoordinatesModal form");
        if (coordinatesForm) {
            coordinatesForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const formData = new FormData(coordinatesForm);

                fetch(coordinatesForm.getAttribute("action"), {
                    method: "POST",
                    body: formData,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            alert("Coordinates saved successfully!");
                            document.getElementById("createCoordinatesModal").style.display = "none";
                            updateCoordinatesList(data.updatedCoordinatesList);
                        } else {
                            alert(data.message || "Failed to save coordinates.");
                        }
                    })
                    .catch(error => {
                        console.error("Error saving coordinates:", error);
                        alert("An error occurred while saving the coordinates.");
                    });
            });

            function updateCoordinatesList(coordinates) {
                const coordinatesSelect = document.querySelector("#coordinates");
                if (coordinatesSelect) {
                    coordinatesSelect.innerHTML = coordinates
                        .map(coordinate => `<option value="${coordinate.id}">${coordinate.x}, ${coordinate.y}</option>`)
                        .join("");
                }
            }
        }

        // Location
        const locationForm = document.querySelector("#createLocationModal form");
        if (locationForm) {
            locationForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const formData = new FormData(locationForm);

                fetch(locationForm.getAttribute("action"), {
                    method: "POST",
                    body: formData,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            alert("Location saved successfully!");
                            document.getElementById("createLocationModal").style.display = "none";
                            updateLocationsList(data.updatedLocationsList);
                        } else {
                            alert(data.message || "Failed to save location.");
                        }
                    })
                    .catch(error => {
                        console.error("Error saving location:", error);
                        alert("An error occurred while saving the location.");
                    });
            });

            function updateLocationsList(locations) {
                const locationsSelect = document.querySelector("#location");
                if (locationsSelect) {
                    locationsSelect.innerHTML = locations
                        .map(location => `<option value="${location.id}">${location.x}, ${location.y}, ${location.z}</option>`)
                        .join("");
                }
            }
        }
    });


</script>

</body>
</html>