<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
<link rel="stylesheet" href="/static/css/home.css">
</head>
<body th:attr="data-open-modal=${openModal}">
<div class="header">
    <h1> <a th:href="@{/home}" style="cursor: pointer; color: hotpink; text-decoration: none;">MovieStorage</a></h1>
    <h1> <a th:href="@{/import}" style="cursor: pointer; color: hotpink; text-decoration: none;">Import</a></h1>
    <h1> <a th:href="@{/operations}" style="cursor: pointer; color: hotpink; text-decoration: none;">Operations</a></h1>
    <div class="user-info">
        <span th:text="${userRole}"
              class="open-modal"
              data-modal="roleRequestModal"
              style="cursor: pointer; text-decoration: underline; color: hotpink;"
              th:if="${userRole != 'ADMIN'}">Role</span>
        <span th:text="${userRole}"
              class="open-modal"
              style="cursor: not-allowed; text-decoration: underline; color: hotpink;"
              th:if="${userRole == 'ADMIN'}">Role</span>
        <span th:text="${username}">Username</span>
        <a th:href="@{/auth/logout}">Logout</a>
        <a th:if="${userRole == 'ADMIN'}"
           th:href="@{/admin/audit}">Admin Panel</a>
    </div>
</div>
<button class="open-modal" id="addButton" data-modal="createMovieModal" style="margin-bottom: 20px;">Create Movie</button>
<div class="table-container">

    <label for="search-input" class="form-label"><input type="text" id="search-input" class="form-control" placeholder="Search..." onkeyup="applySearchFilter()"></label>
    <table class="styled-table">
        <thead>
        <tr>
            <th onclick="sortTable('name')">Name</th>
            <th onclick="sortTable('authorID')">Author</th>
            <th onclick="sortTable('creationDate')">Creation Date</th>
            <th onclick="sortTable('coordinates')">Coordinates</th>
            <th onclick="sortTable('oscarsCount')">Oscars Count</th>
            <th onclick="sortTable('budget')">Budget</th>
            <th onclick="sortTable('totalBoxOffice')">Total Box Office</th>
            <th onclick="sortTable('mpaaRating')">MPAA Rating</th>
            <th onclick="sortTable('length')">Length</th>
            <th onclick="sortTable('goldenPalmCount')">Golden Palm Count</th>
            <th onclick="sortTable('genre')">Genre</th>
            <th onclick="sortTable('director.name')">Director</th>
            <th onclick="sortTable('director.eyeColor')">Director eye color</th>
            <th onclick="sortTable('director.hairColor')">Director hair color</th>
            <th onclick="sortTable('director.location')">Director location</th>
            <th onclick="sortTable('director.passportID')">Director passportID</th>
            <th onclick="sortTable('director.nationality')">Director nationality</th>
            <th onclick="sortTable('operator.name')">Operator</th>
            <th onclick="sortTable('operator.eyeColor')">Operator eye color</th>
            <th onclick="sortTable('operator.hairColor')">Operator hair color</th>
            <th onclick="sortTable('operator.location')">Operator location</th>
            <th onclick="sortTable('operator.passportID')">Operator passportID</th>
            <th onclick="sortTable('operator.nationality')">Operator nationality</th>
            <th onclick="sortTable('screenwriter.name')">Screenwriter</th>
            <th onclick="sortTable('screenwriter.eyeColor')">Screenwriter eye color</th>
            <th onclick="sortTable('screenwriter.hairColor')">Screenwriter hair color</th>
            <th onclick="sortTable('screenwriter.location')">Screenwriter location</th>
            <th onclick="sortTable('screenwriter.passportID')">Screenwriter passportID</th>
            <th onclick="sortTable('screenwriter.nationality')">Screenwriter nationality</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${moviePage.content}">
            <td th:text="${movie.name}">Name</td>
            <td th:text="${movie.authorID}">Author</td>
            <td th:text="${movie.creationDate}">Creation Date</td>
            <td th:text="${movie.coordinates.x + '; ' + movie.coordinates.y}">Coordinates</td>
            <td th:text="${movie.oscarsCount}">Oscars Count</td>
            <td th:text="${movie.budget}">Budget</td>
            <td th:text="${movie.totalBoxOffice}">Total Box Office</td>
            <td th:text="${movie.mpaaRating}">MPAA Rating</td>
            <td th:text="${movie.length}">Length</td>
            <td th:text="${movie.goldenPalmCount}">Golden Palm Count</td>
            <td th:text="${movie.genre}">Genre</td>
            <td th:text="${movie.director.name}">Director</td>
            <td th:text="${movie.director.eyeColor}">Director eye color</td>
            <td th:text="${movie.director.hairColor}">Director hair color</td>
            <td th:text="${movie.director.location.x + '; ' + movie.director.location.y  + '; ' + movie.director.location.z }">Director location</td>
            <td th:text="${movie.director.passportID}">Director passportID</td>
            <td th:text="${movie.director.nationality}">Director nationality</td>
            <td th:text="${movie.operator.name}">Operator</td>
            <td th:text="${movie.operator.eyeColor}">Operator eye color</td>
            <td th:text="${movie.operator.hairColor}">Operator hair color</td>
            <td th:text="${movie.operator.location.x + '; ' + movie.operator.location.y  + '; ' + movie.operator.location.z }">Operator location</td>
            <td th:text="${movie.operator.passportID}">Operator passportID</td>
            <td th:text="${movie.operator.nationality}">Operator nationality</td>
            <td th:text="${movie.screenwriter.name}">Screenwriter</td>
            <td th:text="${movie.screenwriter.eyeColor}">Screenwriter eye color</td>
            <td th:text="${movie.screenwriter.hairColor}">Screenwriter hair color</td>
            <td th:text="${movie.screenwriter.location.x + '; ' + movie.screenwriter.location.y  + '; ' + movie.screenwriter.location.z }">Screenwriter location</td>
            <td th:text="${movie.screenwriter.passportID}">Screenwriter passportID</td>
            <td th:text="${movie.screenwriter.nationality}">Screenwriter nationality</td>
            <td>
                <button th:if="${movie.authorID == currentUserId || userRole == 'ADMIN'}"
                        th:attr="data-id=${movie.movieId}"
                        class="edit-movie-button btn">Edit</button>
                <button th:if="${movie.authorID == currentUserId || userRole == 'ADMIN'}"
                        th:attr="data-id=${movie.movieId}"
                        class="delete-movie-button btn">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination" id="thymeleaf-pagination">
        <a th:if="${moviePage.hasPrevious()}" th:href="@{/home(page=${moviePage.number - 1}, size=${moviePage.size})}">Previous</a>
        <span>Page <span id="currentPage" th:text="${moviePage.number + 1}">1</span> of <span th:text="${moviePage.totalPages}">1</span></span>
        <a th:if="${moviePage.hasNext()}" th:href="@{/home(page=${moviePage.number + 1}, size=${moviePage.size})}">Next</a>
    </div>

    <div class="pagination" id="js-pagination" style="visibility: hidden;">
        <a href="#" id="prev-page" onclick="changePage(currentPagejs - 1)">Previous</a>
        <span>Page <span id="currentPagejs">1</span> of <span id="totalPages">1</span></span>
        <a href="#" id="next-page" onclick="changePage(currentPagejs + 1)">Next</a>
    </div>
</div>

<div id="roleRequestModal" class="modal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 1000;">
    <div style="background-color: white; margin: 10% auto; padding: 20px; border-radius: 8px; width: 30%; text-align: center;">
        <form th:action="@{/sendRequest}" method="post" th:object="${request}">
        <h3>Submit a request for the admin role</h3>
        <p>Are you sure you want to submit a request to become an administrator?</p>
        <button type="submit" style="margin-right: 10px;">Submit</button>

        </form>
    </div>
</div>

<div id="createMovieModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Movie</h2>
        <form th:action="@{/movie/save}" method="post" th:object="${movie}">
            <input type="hidden" th:field="*{movieId}" />
            <input type="hidden" id="page" name="page" th:value="${currentPage}" />
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required/><br/>

            <label for="coordinates">Coordinates:</label>
            <select id="coordinates" th:field="*{coordinates.id}">
                <option th:each="coordinate : ${coordinatesList}"
                        th:value="${coordinate.id}"
                        th:text="${coordinate.x + ', ' + coordinate.y}">Coordinates</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createCoordinatesModal">Create Coordinates</button><br/>

            <label for="oscarsCount">Oscars Count:</label>
            <input type="number" id="oscarsCount" th:field="*{oscarsCount}" required/><br/>
            <div style="color:red" class="error-message" id="oscarsCountError"></div>

            <label for="budget">Budget:</label>
            <input type="number" id="budget" th:field="*{budget}" step="0.01" required/><br/>
            <div style="color:red" class="error-message" id="budgetError"></div>

            <label for="totalBoxOffice">Total Box Office:</label>
            <input type="number" id="totalBoxOffice" th:field="*{totalBoxOffice}" step="0.01" required/><br/>
            <div style="color:red" class="error-message" id="totalBoxOfficeError"></div>

            <label for="mpaaRating">MPAA Rating:</label>
            <select id="mpaaRating" th:field="*{mpaaRating}">
                <option th:each="rating : ${mpaaRatings}" th:value="${rating}" th:text="${rating}">Rating</option>
            </select><br/>

            <label for="director">Director:</label>
            <select id="director" th:field="*{director.id}">
                <option th:each="person : ${personsList}" th:value="${person.id}" th:text="${person.name}">Person</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createPersonModal">Create Person</button><br/>

            <label for="screenwriter">Screenwriter:</label>
            <select id="screenwriter" th:field="*{screenwriter.id}">
                <option th:each="person : ${personsList}" th:value="${person.id}" th:text="${person.name}">Person</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createPersonModal">Create Person</button><br/>

            <label for="operator">Operator:</label>
            <select id="operator" th:field="*{operator.id}" required>
                <option th:each="person : ${personsList}" th:value="${person.id}" th:text="${person.name}">Person</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createPersonModal">Create Person</button><br/>

            <label for="length">Length:</label>
            <input type="number" id="length" th:field="*{length}" step="1"/><br/>
            <div style="color:red" class="error-message" id="lengthError"></div>

            <label for="goldenPalmCount">Golden Palm Count:</label>
            <input type="number" id="goldenPalmCount" th:field="*{goldenPalmCount}" step="1"/><br/>
            <div style="color:red" class="error-message" id="goldenPalmCountError"></div>

            <label for="genre">Genre:</label>
            <select id="genre" th:field="*{genre}">
                <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}">Genre</option>
            </select><br/>

            <button type="submit">Save</button>
        </form>
    </div>
</div>


<div id="createPersonModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create a New Person</h2>
        <form th:action="@{/person/save}" method="post" th:object="${person}">
            <input type="hidden" name="parentModal" value="createMovieModal"/>
            <label for="personname">Name:</label>
            <input type="text" id="personname" th:field="*{name}" required/><br/>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

            <label for="location">Location:</label>
            <select id="location" th:field="*{location.id}">
                <option th:each="location : ${locationsList}"
                        th:value="${location.id}"
                        th:text="${location.x + ', ' + location.y + ', ' + location.z}">Coordinates</option>
            </select>
            or
            <button type="button" class="open-modal" data-modal="createLocationModal">Create Location</button><br/>


            <label for="passportID">passportID:</label>
            <input type="number" id="passportID" th:field="*{passportID}" step="1" required minlength="10" maxlength="43"/><br/>
            <div style="color:red" th:if="${#fields.hasErrors('passportID')}" th:errors="*{passportID}">Username Error</div>
            <div style="color:red" class="error-message" id="passportIDError"></div>

            <label for="eyeColor">eye color:</label>
            <select id="eyeColor" th:field="*{eyeColor}">
                <option th:each="color : ${colors}" th:value="${color}" th:text="${color}">Color</option>
            </select><br/>

            <label for="hairColor">hair color:</label>
            <select id="hairColor" th:field="*{hairColor}">
                <option th:each="color : ${colors}" th:value="${color}" th:text="${color}">Color</option>
            </select><br/>

            <label for="nationality">Genre:</label>
            <select id="nationality" th:field="*{nationality}">
                <option th:each="nationality : ${nationalities}" th:value="${nationality}" th:text="${nationality}">Nationality</option>
            </select><br/>

            <button type="submit">Save</button>
        </form>
    </div>
</div>

<div id="createLocationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create a New Location</h2>
        <form th:action="@{/location/save}" method="post" th:object="${location}">

            <label for="x">x:</label>
            <input type="number" id="x" th:field="*{x}" step="0.01" required/><br/>
            <label for="y">y:</label>
            <input type="number" id="y" th:field="*{y}" step="0.01" required/><br/>
            <label for="z">z:</label>
            <input type="number" id="z" th:field="*{z}" step="1" required/><br/>
            <button type="submit" id="savePersonBtn">Save</button>
        </form>
    </div>
</div>

<div id="createCoordinatesModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create a New Coordinates</h2>
        <form th:action="@{/coordinates/save}" method="post" th:object="${coordinates}">
            <label for="x">x:</label>
            <input type="number" id="coord_x" th:field="*{x}" step="1" required/><br/>
            <label for="y">y:</label>
            <input type="number" id="coord_y" th:field="*{y}" step="1" required/><br/>
            <button type="submit">Save</button>
        </form>
    </div>
</div>


<script src="/static/js/modal.js"></script>
<script src="/static/js/movie.js"></script>
<script src="/static/js/location.js"></script>
<script src="/static/js/person.js"></script>
<script src="/static/js/coordinates.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

<script type="text/javascript">
    let currentPagejs = 0;
    let totalPagesjs = 0;
    let stompClient = null;

    async function connect() {
        const socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, async function (frame) {
            console.log('Connected: ' + frame);

            await getCurrentUser();

            stompClient.subscribe('/topic/movies', function (response) {
                const data = JSON.parse(response.body);
                const updatedMoviePage = data.moviePage;
                const updatedMoviePageNumber = data.currentPage;

                if (window.currentUser) {
                    const currentUserId = window.currentUser.id;
                    const userRole = window.currentUser.role;
                    const currentPage = window.currentUser.page;
                    const moviePage = window.currentUser.moviePage;

                    const action = data.action;
                    console.log(userRole, currentUserId, action);


                    if (action === "save" || action === "update" || action === "delete") {
                        if (currentPage == updatedMoviePageNumber){
                            updateTable(updatedMoviePage, currentUserId, userRole, updatedMoviePageNumber);
                            updatePagination(updatedMoviePage.number, window.currentUser.totalPages);
                        }
                    }
                }
            });
        });
    }

    function updateTable(moviePage, currentUserId, userRole, currentPage, totalPages) {
        const tableBody = document.querySelector("tbody");
        tableBody.innerHTML = "";


        moviePage.content.forEach(movie => {
            const row = document.createElement("tr");
            let editButton = '';
            let deleteButton = '';

            if (movie.authorID == currentUserId || userRole == 'ADMIN') {
                editButton = `<button data-id="${movie.movieId}" class="edit-movie-button btn">Edit</button>`;
                deleteButton = `<button data-id="${movie.movieId}" class="delete-movie-button btn">Delete</button>`;
            }
            row.innerHTML = `
            <td>${movie.name}</td>
            <td>${movie.authorID}</td>
            <td>${movie.creationDate}</td>
            <td>${movie.coordinates.x + '; ' + movie.coordinates.y}</td>
            <td>${movie.oscarsCount}</td>
            <td>${movie.budget}</td>
            <td>${movie.totalBoxOffice}</td>
            <td>${movie.mpaaRating}</td>
            <td>${movie.length}</td>
            <td>${movie.goldenPalmCount}</td>
            <td>${movie.genre}</td>
            <td>${movie.director.name}</td>
            <td>${movie.director.eyeColor}</td>
            <td>${movie.director.hairColor}</td>
            <td>${movie.director.location.x + '; ' + movie.director.location.y + '; ' + movie.director.location.z}</td>
            <td>${movie.director.passportID}</td>
            <td>${movie.director.nationality}</td>
            <td>${movie.operator.name}</td>
            <td>${movie.operator.eyeColor}</td>
            <td>${movie.operator.hairColor}</td>
            <td>${movie.operator.location.x + '; ' + movie.operator.location.y + '; ' + movie.operator.location.z}</td>
            <td>${movie.operator.passportID}</td>
            <td>${movie.operator.nationality}</td>
            <td>${movie.screenwriter.name}</td>
            <td>${movie.screenwriter.eyeColor}</td>
            <td>${movie.screenwriter.hairColor}</td>
            <td>${movie.screenwriter.location.x + '; ' + movie.screenwriter.location.y + '; ' + movie.screenwriter.location.z}</td>
            <td>${movie.screenwriter.passportID}</td>
            <td>${movie.screenwriter.nationality}</td>
            <td>
                ${editButton}
                ${deleteButton}
            </td>
        `;
            tableBody.appendChild(row);
        });

        setCurrentPage(currentPage);
        const currentPageElement = document.querySelector("#currentPage");
        if (currentPageElement) {
            currentPageElement.textContent = currentPage + 1;
        }
        updatePagination(moviePage.number, totalPages);
    }

    function setCurrentPage(page) {
        const pageInput = document.querySelector("input[name='page']");
        if (pageInput) pageInput.value = page;
    }

    let currentSortField = 'name';
    let currentSortOrder = 'asc';
    let currentSearchTerm = '';
    async function getCurrentUser() {
        try {
            const page = document.getElementById('page').value;
            const response = await fetch(`/movie/current-user?query=${encodeURIComponent(currentSearchTerm)}&page=${page}&size=10&sort=${currentSortField}&sortOrder=${currentSortOrder}`);
            if (!response.ok) {
                throw new Error('Failed to fetch current user');
            }
            const user = await response.json();
            window.currentUser = {
                id: user.currentUserId,
                role: user.userRole,
                page: user.currentPage,
                moviePage: user.movies,
                totalPages: user.totalPages
            };
            console.log("Current user:", window.currentUser);
        } catch (err) {
            console.error('Error fetching current user:', err);
        }
    }
    async function applySearchFilter() {
        const searchTerm = document.getElementById('search-input').value.trim();
        currentSearchTerm = searchTerm;
        await getCurrentUser();
        const currentUserId = window.currentUser.id;
        const userRole = window.currentUser.role;
        const currentPage = 0;
        await fetchMovies(currentUserId, userRole, searchTerm, currentPage, currentSortField, currentSortOrder);
    }

    async function sortTable(field) {
        if (currentSortField === field) {
            currentSortOrder = currentSortOrder === 'asc' ? 'desc' : 'asc';
        } else {
            currentSortField = field;
            currentSortOrder = 'asc';
        }
        await getCurrentUser();
        const currentUserId = window.currentUser.id;
        const userRole = window.currentUser.role;
        const currentPage = window.currentUser.page;
        await fetchMovies(currentUserId, userRole, currentSearchTerm, currentPage, currentSortField, currentSortOrder);
    }

    function fetchMovies(currentUserId, userRole, searchTerm, currentPage, sortField, sortOrder) {
        const url = `/movie/search?query=${encodeURIComponent(searchTerm)}&page=${currentPage}&size=10&sort=${sortField}&sortOrder=${sortOrder}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                updateTable(data.movies, currentUserId, userRole, currentPage, data.totalPages);
            })
            .catch(error => console.error('Error fetching movies:', error));
    }


    function updatePagination(currentPageNumber, totalPages) {

        document.getElementById("currentPagejs").textContent = currentPageNumber + 1;
        document.getElementById("totalPages").textContent = totalPages;

        document.getElementById("thymeleaf-pagination").style.visibility = "hidden";
        document.getElementById("js-pagination").style.visibility = "visible";

        if (currentPageNumber === 0) {
            document.getElementById("prev-page").style.visibility = "hidden";
        } else {
            document.getElementById("prev-page").style.visibility = "visible";
        }

        if (currentPageNumber === totalPages - 1) {
            document.getElementById("next-page").style.visibility = "hidden";
        } else {
            document.getElementById("next-page").style.visibility = "visible";
        }
    }

    function changePage(page) {
        getCurrentUser();
        if (page >= 0 && page < window.currentUser.totalPages) {
            const currentUserId = window.currentUser.id;
            const userRole = window.currentUser.role;
            currentPagejs = page;
            fetchMovies(currentUserId, userRole, currentSearchTerm, currentPagejs, currentSortField, currentSortOrder);
        }
    }


    window.onload = connect;

</script>

</body>
</html>
