.header {
    background-color: #ffc0cb;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info span {
    margin-right: 20px;
}

.header .user-info a {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.header .user-info a:hover {
    background-color: #ff69b4;
    color: #fff;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #ffcbd3;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ffcdd2;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffeaed;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #d81b60;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    margin: 0 10px;
    color: #000;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
}
#addButton {
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

#addButton:hover {
    background-color: #ff1493;
}

#addButton:focus {
    outline: none;
}
.btn {
    display: block;
    width: 70px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 6px;
}

.edit-movie-button {
    background-color: #4CAF50;
    color: white;
}

.edit-movie-button:hover {
    background-color: #45a049;
}

.delete-movie-button {
    background-color: #f44336;
    color: white;
}

.delete-movie-button:hover {
    background-color: #da190b;
}
.table-container {
    overflow-y: auto;
    padding-right: 10px;
}